form{
    margin-top: 50px;
    border: 1px solid black;
    padding: 5px;
}
body{
    background-color: brown;
}
#email{
    border-radius: 5px;
    border: 1px solid black;
}
#password{
    border-radius: 5px;
    border: 1px solid black;
}
